{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <table id="prospect" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID prospect</th>
                    <th>Campagne</th>
                    <th>Société</th>
                    <th>Civilité</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Fonction</th>
                    <th>Email</th>
                    <th>LinkedIn</th>
                    <th>Téléphone</th>
                    <th>Ligne directe</th>
                    <th>Site web</th>
                    <th>Siret</th>
                    <th>Adresse - Rue</th>
                    <th>Adresse - CP</th>
                    <th>Adresse - Ville</th>
                    <th>Département</th>
                    <th>Secteur d'activité</th>
                    <th>Effectif</th>
                    <th>CA</th>
                    <th>Code NAF</th>   
                </tr>
            </thead>
            <tbody>
                {% for prospect in prospects %}
                <tr>
                    <td>{{ prospect.id }}</td>
                    <td>{{ prospect.campaign }}</td>
                    <td>{{ prospect.company_name }}</td>
                    <td>{{ prospect.civility }}</td>
                    <td>{{ prospect.first_name }}</td>
                    <td>{{ prospect.last_name }}</td>
                    <td>{{ prospect.function }}</td>
                    <td>{{ prospect.email }}</td>
                    <td>{{ prospect.linkedin_url }}</td>
                    <td>{{ prospect.phone }}</td>
                    <td>{{ prospect.direct_line }}</td>
                    <td>{{ prospect.website }}</td>
                    <td>{{ prospect.siret }}</td>
                    <td>{{ prospect.address_street }}</td>
                    <td>{{ prospect.address_zip }}</td>
                    <td>{{ prospect.address_city }}</td>
                    <td>{{ prospect.department }}</td>
                    <td>{{ prospect.sector }}</td>
                    <td>{{ prospect.workforce }}</td>
                    <td>{{ prospect.revenue }}</td>
                    <td>{{ prospect.naf_code }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>              
    </div>
    <script>
    $(document).ready(function() {
        $('#prospect').DataTable();
    });
    </script>
</body>
</html>
