{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Lien vers le CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Lien vers ton CSS personnalisé -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="loginBox"> 
        <img class="user" src="{% static 'images/recom_logo.png' %}" height="100px" width="100px">
        <h3>Accès Base de données</h3>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="inputBox"> 
                <input id="uname" type="text" name="username" placeholder="Username"> 
                <input id="pass" type="password" name="password" placeholder="Password"> 
            </div> 
            <input type="submit" value="Login">
        </form> 
        <a href="{% url 'password_reset' %}">Forget Password</a>
        <div class="text-center">
            {% if error %}
            <div>{{ error }}</div>
        {% endif %}
        <!-- Le reste de votre formulaire de connexion -->
          
    </div>
    <!-- Scripts Bootstrap (optionnel) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
